{% extends 'base_content.html' %}
{% load static %}

{% block content %}
<body>
    <title>Registered Universities</title>

    <!-- Header -->
    <header class="text-dark text-center py-4 mb-4" 
        style="background: url('https://www.transparenttextures.com/patterns/honeycomb.png') #FFFFCC;">
        <div class="container">
            <h1 class="display-4 fw-bold">✏️ Modify University ✏️</h1>
        </div>
    </header>

    <div class="container">
        <h1 class="display-4 fw-bold"> {{university.name}} </h1>
        
        
        <a href="{% url 'registered_universities' %}" class="btn btn-secondary"> Back</a>
    </div>

</body>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this university? This action cannot be undone.");
    }
</script>
{% endblock %}