{% extends 'base_content.html' %}
{% load static %}
{% block content %}


<!-- Hero Section -->
<div class="container-fluid text-white text-center py-5" style="background-color: #fabf52;">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
            <h1 class="display-3 fw-bold mb-2">Welcome to Hive Society - Buzz in!</h1>
            <p class="lead mb-4">
                Discover new societies, exciting events, and endless opportunities to connect and grow.
            </p>
        </div>
    </div>
</div>

<!-- Features Section -->
<div class="container py-5">
    <div class="row d-flex flex-column align-items-center g-4">
        <div class="col-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title" style="color: #ff5733;">Latest News:</h2>
                    <p class="card-text">New events and societies...</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title" style="color: #ff5733;" >Discover Universities</h2>
                    <p class="card-text">...</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title" style="color: #ff5733;">Why Join a Society?</h2>
                    <p class="card-text">...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<footer class="text-black  text-center py-1" style="background-color: #f2d177;">
    <p>&copy; 2025 Hive Society. All rights reserved.</p>
</footer>
-->
{% endblock %}
