{% extends 'base_content.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create a New Post{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <!-- Header Section -->
                <div class="card-header text-center">
                    <h4>Create a New Post</h4>
                </div>

                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' %}
                    </form>
                </div>
            </div>

            <!-- Display Posts Created by the User 
            <div class="card shadow mt-4 border-0"></div>
                <div class="card-header bg-light text-center">
                    <h5>Your Posts</h5>
                {% if posts %}
                    <ul class="list-group">
                        {% for post in posts %}
                            <li class="list-group-item">
                                <h6>{{ post.title }}</h6>
                                <p>{{ post.content|truncatewords:20 }}</p>
                                <a href="{% url 'view_post' post.id %}" class="btn btn-link">View Post</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No posts found. Start by creating a new post!</p>
                {% endif %}
                </div>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}
