{% extends 'base_content.html' %}
{% load static %} 

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card shadow p-4">
      <h1>Log in</h1>
      <form action="{% url 'log_in' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form submit_text="Log in"%}
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
