{% extends 'base_content.html' %}
{% load static %} 

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card shadow p-4">

      <h1>Sign up</h1>
      <p class="text-muted">Register with your school email.</p>
      <hr>

      <form action="{% url 'sign_up' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form submit_text="Sign up"%}
    </form>
  </div>
</div>
</div>
</div>

{% endblock %}