{% extends 'base_content.html' %}
{% load static %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h1>Sign up</h1>
      <p class="text-muted">Register with your school email.</p>
      <hr>
      <form action="{% url 'sign_up' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Sign up" class="btn btn-warning">
      </form>
      <p class="text-muted">
        <a href="{% url 'homepage' %}" class="text-decoration-underline" style="color: grey;">Back to homepage</a>
      </p>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="text-center text-dark mt-5 py-4" style="background-color: #FFF2CC;">
  <p class="mb-0">🐝 &copy; {{ year }} HiveSociety | Stay Connected | Contact Us</p>
</footer>
{% endblock %}