<div class="nav-item dropdown d-flex align-items-center">
    <div class="d-flex align-items-center px-2">
        {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" 
            alt="Profile Picture" class="gravatar rounded-circle border" width="30" height="30">
        {% else %}
            <img src="https://hive-society.s3.amazonaws.com/profile_pictures/default-user.jpg" 
            alt="Profile Picture" class="gravatar rounded-circle border" width="30" height="30">
        {% endif %}
        <span class="fw-bold ms-2">{{ user.username }}</span>
    </div>
    <button type="button" class="btn border-0 dropdown-toggle dropdown-toggle-split" id="societyDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Society Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end custom-submenu" id="societyDropdown">
        {% for membership in user.membership_set.all %}
            {% if membership.society_role.is_committee_role %}
                <li>
                    <a class="dropdown-item {% if request.session.active_society_id == membership.society.id %}active{% endif %}"
                     href="{% url 'society_dashboard' society_id=membership.society.id %}">
                        {{ membership.society.name }} 
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if request.session.active_society_id %}
            <li>
                <a class="dropdown-item dashboard-link" href="{% url 'to_student_dashboard' %}">{{ user.username }}</a>
            </li>
        {% endif %}
    </ul>
</div>


<li class="dropdown-divider"></li>

<li><a href="{% url 'profile' %}" class="dropdown-item">Profile</a></li>
<li><a href="{% url 'password' %}" class="dropdown-item">Change Password</a></li>


<li><a href="{% url 'view_memberships' %}" class="dropdown-item">Manage Memberships</a></li>

<!--
<li><a href=# class="dropdown-item">Purchases</a></li>
<li><a href=# class="dropdown-item">FAQ/Help</a></li>
<li><a href=# class="dropdown-item">Settings</a></li>
-->


<li class="dropdown-divider"></li>

<li><a href="{% url 'log_out' %}" class="dropdown-item logout">Log Out</a></li>
