<!--
{% load static %}

{% block navbar-links %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Options
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#home">Home</a></li>
                <li><a class="dropdown-item" href="#universities">Universities</a></li>
                <li><a class="dropdown-item" href="#faq">FAQ/Help</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <button class="btn btn-primary me-2">Log In</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-success">Sign Up</button>
        </li>
    </ul>
</div>
{% endblock %}
-->