body {
    font-family: "Poppins", sans-serif;
    background-color: #FFF2CC; 
    color: #5c3b00; 
}

.btn-primary {
    background-color: #FFD700;
    border: none;
    color: #5c3b00;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #FFC300;
}

.btn-secondary {
    background-color: #5c3b00; 
    color: white;
}

.btn-secondary:hover {
    background-color: #3e2800;
}


.btn-back {
    background-color: transparent;
    color: #5c3b00;
    border: 2px solid #5c3b00;
}

.btn-back:hover {
    background-color: #ffbf00;
    color: white;
}


h1, h2 {
    font-family: 'Fredoka One';
    color: #d19f00;
}
